language: php

php:
  - 7.2
  - 7.3

matrix:
  fast_finish: true

before_script:
  - composer install --no-interaction --dev --prefer-dist

script:
  - php vendor/bin/phpunit --coverage-clover build/coverage.clover.xml

after_success:
  - travis_retry php vendor/bin/coveralls

cache:
  directories:
    - vendor
    - $HOME/.composer/cache
